<link rel="import" href="../../bower_components/polymer/polymer.html">
<polymer-element name="snap-widget" attributes="options name">
  <template>
    <style>

      :host {
        display: block;
        width: 100%;
      }

      :host #tabs {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        height: 25px;
        line-height: 25px;
      }

      :host #panels {
        background-color: rgba(255, 255, 255, 0.3);
        border: 2px solid rgba(171, 210, 223, 0.3);
        min-height: 50px;
        overflow: auto;
        padding: 10px;
      }

      :host .tab {
        cursor: pointer;
        display: inline-block;
        padding: 0 5px;
        background-color: rgba(171, 210, 223, 0.3);
        opacity: 0.4;
      }

      :host .tab.selected {
        opacity: 1;
      }
      
      :host #tabs li {
        display: inline-block;
      }

      :host([view-only]) #tabs, :ancestor([view-only]) #tabs {
        display: none;
      }

    </style>

    <div id="tabs">
      <b class="widgetName">{{name}}</b>
      <a id="viewTab" class="tab" on-click="{{showViewPane}}">View</a><a id="editTab" class="tab" on-click="{{showEditPane}}">Edit</a>
    </div>

    <div id="panels">
      <div id="editPane">
        <content select=".edit"></content>
      </div>
      <div id="viewPane">
        <content select=".view"></content>
      </div>
    </div>

  </template>
  <script>
    Polymer('snap-widget', {

      name: 'Widget',

      ready: function() {
        this.showViewPane();
      },

      showEditPane: function() {
        this.$.editPane.style.display = 'block';
        this.$.viewPane.style.display = 'none';
        this.$.editTab.classList.add('selected');
        this.$.viewTab.classList.remove('selected');
        this.fire('showEdit');
      },

      showViewPane: function() {
        this.$.editPane.style.display = 'none';
        this.$.viewPane.style.display = 'block';
        this.$.editTab.classList.remove('selected');
        this.$.viewTab.classList.add('selected');
        this.fire('showView');
      }


    });
  </script>
</polymer-element>