body {
  font-family: 'Droid Sans', sans-serif;
  color: #333;
}

.panel {
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  height: 100%;
}

.panel.visible {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

.app {
  width: 48px;
  height: 64px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.app > .label {
  display: block;
  font-size: 12px;
  width: 48px;
  margin-top: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
  filter: dropshadow(color=#ffffff, offx=1, offy=1);
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.app > .icon {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(33, 33, 33, 0.5);
  box-shadow: 0px 0px 8px 2px rgba(33, 33, 33, 0.5);
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center center;
}

.app:hover > .icon {
  margin-top: 1px;
}

.app:hover > .label {
  margin-top: 4px;
}

/* Colors */
.app > .icon.rose {
  background-color: #ff4d74;
  -webkit-box-shadow: 0 3px #e60032;
  box-shadow: 0 3px #e60032;
}

.app:hover > .icon.rose {
  -webkit-box-shadow: 0 2px #e60032;
  box-shadow: 0 2px #e60032;
}

.app > .icon.canary {
  background-color: #fee830;
  -webkit-box-shadow: 0 3px #c7b201;
  box-shadow: 0 3px #c7b201;
}

.app:hover > .icon.canary {
  -webkit-box-shadow: 0 2px #c7b201;
  box-shadow: 0 2px #c7b201;
}

.app > .icon.lime {
  background-color: #86cd4b;
  -webkit-box-shadow: 0 3px #548b27;
  box-shadow: 0 3px #548b27;
}

.app:hover > .icon.lime {
  -webkit-box-shadow: 0 2px #548b27;
  box-shadow: 0 2px #548b27;
}

.app > .icon.blue {
  background-color: #039ee0;
  -webkit-box-shadow: 0 3px #02577b;
  box-shadow: 0 3px #02577b;
}

.app:hover > .icon.blue {
  -webkit-box-shadow: 0 2px #02577b;
  box-shadow: 0 2px #02577b;
}
