body {
  font-family: 'Droid Sans', 'Ubuntu', sans-serif;
  color: #333;
}

#app-container {

  display: -webkit-flex;
  display: -moz-flex;
  display: flex;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  padding: 50px;

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;

  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;

  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  align-content: flex-start;

  height: 100%;

}


.app {
  width: 80px;
  height: 80px;
  margin: 22px 0 0 0;
  text-align: center;
  cursor: pointer;
  opacity: 0;
}

.app.visible {
  opacity: 1;
}

.transition {
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.app > .label {
  display: block;
  font-size: 12px;
  width: 100%;
  margin-top: 5px;
  color: #fafafa;
  text-shadow: 1px 1px 0px rgba(33, 33, 33, 0.6);
  filter: dropshadow(color=#333, offx=1, offy=1);
  overflow: hidden;
}

.app > .icon {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(33, 33, 33, 0.2);
  box-shadow: 0px 1px 3px 1px rgba(33, 33, 33, 0.2);
  background-size: 49px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
  position: relative;
}

.app > .icon::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 64px;
  border-radius: 32px;
  top: 0;
  left: 0;
  background-image:
    radial-gradient(ellipse at top left, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%),
    radial-gradient(ellipse at bottom right, rgba(33, 33, 33, 0.2) 0%, rgba(33, 33, 33, 0.1) 50%, rgba(1, 1, 1, 0) 50%, rgba(0, 0, 0, 0) 100%)
  ;
  box-shadow: inset 0px 0px 1px 1px rgba(255,255,255, 0.2);
}

.app:hover > .icon {
  margin-top: 1px;
}

.app:hover > .label {
  margin-top: 4px;
}

/* Colors */
.app > .icon.rose {
  background-color: #ff4d74;
}

.app > .icon.canary {
  background-color: #fee830;
}


.app > .icon.lime {
  background-color: #86cd4b;
}

.app > .icon.blue {
  background-color: #039ee0;
}
