body {
  font-family: 'sans-serif';
  color: #333;
}
/* Temporary, waiting for :ancestor() proper support in Polymer */
snap-widget[view-only] > #ŧabs, [view-only] snap-widget > #tabs {
  display: none;
}